/* Root container */
#app-root {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 96vh;
}

/* Auth container */
#auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
}

#auth-container input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#auth-container button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color: #3d613c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#auth-container button:hover {
  background-color: #54784b;
}

#auth-container p {
  cursor: pointer;
  color: #3d613c;
}

/* Navbar */
#navbar {
  background-color: #3d613c;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 50;
}

#navbar .tab {
  background: transparent;
  border: none;
  color: #f1edde;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: color 0.2s ease, border-color 0.2s ease;
}

#navbar .tab:hover {
  color: #ffffff;
}

#navbar .tab.active {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 5px solid #c8e6c7;
}

#current-user {
  margin-left: auto;
  color: #f1edde;
  font-size:xx-large;
}

/* Main Content */
#main-content {
  flex: 1;
  overflow: auto;
}

/* Tabs */
#explorer-tab,
#details-tab,
#partlink-tab {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Search Bar Container */
#search-container {
  padding: 1rem;
  border: 1px solid #ccc;
}

/* Kanji Board Container */
#kanji-board-container {
  flex: 1;
  overflow: auto;
}

/* Select Kanji Message */
#select-kanji-msg {
  text-align: center;
  margin-top: 5rem;
  color: #888;
}
#saved-kanjis-tab h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.saved-kanji-card {
  background: #f9f9f9;
  border-bottom: 1px solid #888;
  transition: transform 0.2s;
}

.saved-kanji-card:hover {
  transform: translateY(-4px);
}
